# Server Port (Default: 5000)
PORT=5000

# Environment Mode (development | production)
NODE_ENV=development

# MongoDB Connection String (Required)
# For local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/placement-crm
# For MongoDB Atlas cloud database:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/placement-crm?retryWrites=true&w=majority

# JWT Authentication (Required)
JWT_SECRET=placement_cell_crm_jwt_secret_key_change_in_production
# JWT Expiration time (Default: 7d)
JWT_EXPIRE=7d
